<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.appt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appt_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:windowSoftInputMode="adjustResize">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/appt_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widgets.blocks.BlockActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".tabs.news.ArticleActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".tabs.news.FilterActivity"
            android:configChanges="orientation|screenSize" />
    </application>
</manifest>